*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(131, 189, 255);
}

header {
    width: 50%;
    background-color: white;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}

article {
    background-color: white;
    width: 95%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}

article section h1 {
    margin-bottom: 10px;
}

article section p {
    text-align: justify;
    margin: 0px 0px 5px 5px;
}

article a {
    text-decoration: none;
    color: rgb(51, 51, 255);
}

article section a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

article section.ex-list{
    width: 30%;
    display: inline-block;
    margin-right: 15px;
    border: solid red 1px;
}

article section.ex-img{
    width: 50%;
    height: 339px;
    margin: auto;
    background: rgba(0, 0, 0, 0);
    display: inline-block;
}